<div id="page-wrapper">

<!-- Header -->
<header id="header" {% if page.url == "/index.html" %} class="alt"{% endif %}>
	<h1><a href="index.html">{{ site.title }}</a> {{site.subtitle}}</h1>
	{% include menu.html %}
</header>

{% if page.layout == "default" %}
<!-- Banner -->
<section id="banner">
	<video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
		<source src="/assets/videos/bg.mp4" type="video/mp4" />
	</video>
	<div class="banner-content">
		<h2>This is KAMSC</h2>
		<p>{{ site.description | upcase}}</p>
		<ul class="actions">
			<li><a href="#" class="button special">Sign Up</a></li>
			<li><a href="#" class="button">Learn More</a></li>
		</ul>
	</div>
</section>
{% else %}
<!-- Main -->
<section id="main" class="container">
	<header>
		<h2>{{ page.title }}</h2>
		<p>{{ page.description }}</p>
	</header>
{% endif %}
<section id="main" class="container">
