<div id="page-wrapper">

<!-- Header -->
<header id="header" {% if page.url == "/index.html" %} class="alt"{% endif %}>
	<h1><a href="{{ site.github.url }}/">{{ site.title }}</a> {{site.subtitle}}</h1>
	{% include menu.html %}
</header>

{% if page.layout == "default" %}
<!-- Banner -->
<div class="bg">
	<video class="bgvid" autoplay="autoplay" muted="muted" preload="auto">
		<source src="/assets/videos/bg.mp4" type="video/mp4" />
	</video>
</div>
<section id="banner">
	<img class="logo animated zoomInDown s1" src="{{ site.github.url }}/assets/images/KAMSC Logo.png" />
	<h2 class="animated zoomInDown s1">This is KAMSC</h2>
	<p class="animated zoomIn s2">{{ site.description | upcase}}</p>
	<ul class="actions animated zoomIn s3">
		<li><a href="#" class="button special">Sign Up</a></li>
		<li><a href="#" class="button">Learn More</a></li>
	</ul>
</section>
<section id="main" class="container">
{% else %}
<section id="main" class="container">
	<header>
		<br />
		{% if page.title-full %}
			<h2>{{ page.title-full }}</h2>
		{% else %}
			<h2>{{ page.title }}</h2>
		{% endif %}
		{% if page.layout != "course-page" %}
			{% if page.description %}
				<p>{{ page.description }}</p>
			{% endif %}
		{% else %}
			{% if page.coursename %}
			<p>
				<code>{{ page.coursename }}</code><br />
			</p>
			{% endif %}
		{% endif %}
		<br />
		{% if page.staff-pic %}
	    <center style="padding-bottom: 30px;">
	        <div class="staff-pic">
	            <img src="{{site.github.url}}/assets/images/staff/{{ page.staff-pic }}" alt="{{page.title}}'s Image">
	        </div>
	    </center>
	    {% endif %}
		{% if page.quote %}
			<i style="padding-bottom: 20px;"><h3>{{ page.quote }}</h3></i>
		{% endif %}
		{% if page.email %}
			<h4 style="padding-bottom: 20px;"><a href="mailto:{{ page.email }}">{{ page.email }}</a></h4>
		{% endif %}
		{% if page.link %}
			<h4 style="padding-bottom: 20px;"><a href="{{ page.link }}">{{ page.link }}</a></h4>
		{% endif %}
	</header>
	<section class="box">
{% endif %}
