<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Quick links -->
    <section id="one">
      <div class="inner">
        <header class="major">
          <h2>Quick Links</h2>
        </header>
        <!--Some quick important links to info people want fast, no more than 5 or 6-->
        <div class="quick-links">
          <a href="about.html">About</a>
          <a href="curriculum.html">Curriculum</a>
          <a href="mission-philosophy.html">Mission and Philosophy</a>
          <a href="staff.html">Staff</a>
          <a href="staff.html">Admissions</a>
        </div>
      </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>General Information</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="about.html" class="button next">What is KAMSC</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
