<!DOCTYPE html>

<html>

    {% include head.html %}

<body>

    {% include header.html %}

    <!-- Main -->
        <div class="row">
          <div class="12u">
            {% if page.featured-image %}
            <span class="image featured">
              <img src="{{ page.featured-image }}" alt="">
            </span>
            {% endif %}
            <!-- Text -->
              <section class="box">
                {{ content }}
              </section>

          </div>
        </div>
        
      </section>

    {% include footer.html %}


</body>

</html>
