<!DOCTYPE html>

<html>

    {% include head.html %}

<body>

    {% include header.html %}

    {% if page.featured-image %}
    <span class="image featured">
      <img src="{{ page.featured-image }}" alt="">
    </span>
    {% endif %}

    {% if page.courses %}
    <h3>Courses:</h3>
    {% for c in page.courses %}
    <a href="{{ site.github.url }}/curriculum/onsitecourses/{{ c.url }}">{{ c.title }}</a>
    {% endfor %}
    {% endif %}

    {{ content }}

    {% include footer.html %}


</body>

</html>
